<link rel="stylesheet" href="/css/BlogPost.css" />
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/trash-empty.css' rel='stylesheet'>

@model BlogPost
@{
    string anonId = ViewData["AnonUserId"] as string;
}

<div class="article">
    <h1 style="text-align: center; margin-bottom: 50px; margin-top: 50px;">@Model.Topic</h1>

    <div class="article-header">
        <h4><strong>Braden Smith</strong></h4>
        <h6><strong>@Model.CreatedAt.ToShortDateString()</strong></h6>
    </div>
    
<div class="all-article-sections">
    <div class="article-section">
        <h3>@Model.SecOneTitle</h3>
        <p>@Model.SecOneContent</p>
    </div>
    <div class="article-section">
        <h3>@Model.SecTwoTitle</h3>
        <p>@Model.SecTwoContent</p>
    </div>

    @if (Model.SecThreeTitle != null && Model.SecThreeContent != null)
    {
    <div class="article-section">
        <h3>@Model.SecThreeTitle</h3>
        <p>@Model.SecThreeContent</p>
    </div>
    }

    @if (Model.SecFourTitle != null && Model.SecFourContent != null)
    {
    <div class="article-section">
        <h3>@Model.SecFourTitle</h3>
        <p>@Model.SecFourContent</p>
    </div>
    }

    @if (Model.SecFiveTitle != null && Model.SecFiveContent != null)
    {
    <div class="article-section">
        <h3>@Model.SecFiveTitle</h3>
        <p>@Model.SecFiveContent</p>
    </div>
    }
        <hr style="border: 1px solid #000;" />
        <button id="showCommentButton" class="btn-outline-success show-comment">Add a Comment</button>
        
<div id="commentBox" style="display: none;">

    <form action="/Blogs/@Model.Topic/Comment/New" method="post">
                <textarea id="commentText" rows="4" cols="50" placeholder="Start typing..." name="Content" class="comment-input form-label mt-4"></textarea>
        <input hidden value="@Model.Id" name="BlogPostId" />

        <br />
                
        <button id="addCommentButton" type="submit" class="submit-comment">Add Comment</button>
                <p class="text-danger">All comments are anonymous.</p>
    </form> 
</div>
    </div>
    <div class="article-comments">
        <h4>Comments</h4>
        @if (Model.Comments != null)
        {
            <ul class="comments">
                @foreach (var e in Model.Comments)
                {
                    <li>
                        @if(anonId == e.AnonId)
                        {
                            <button type="button" class="edit-button" data-comment-content="@e.Content">Edit</button>
                            <span style="font-size: 14px;"><strong>@e.CreatedAt.ToShortDateString()</strong>:</span> <span class="comment-content">@e.Content</span>
                            <form class="edit-form" style="display: none;" action="/Blogs/@Model.Topic/Comment/@e.Id/Edit" method="post">
                                <textarea rows="4" cols="50" name="Content" class="comment-input form-label mt-4"></textarea>
                                <input hidden value="@Model.Id" name="BlogPostId" />
                                <button type="submit" class="submit-comment">Confirm Changes</button>
                                <p class="text-danger">All comments are anonymous.</p>
                            </form>
                            <form action="/Blogs/@Model.Topic/Comment/@e.Id/Delete" method="post">
                                <button type="submit">Delete</button>
                            </form>
                        }
                        else
                        {
                            <span style="font-size: 14px;"><strong>@e.CreatedAt.ToShortDateString()</strong>:</span> <span class="comment-content">@e.Content</span>
                        }
                    </li>
                }
            </ul>
        }
@*@if (Model.Comments != null)
{
    <ul class="comments">
        @foreach (var e in Model.Comments)
        {
            <form>
                    <li><button type="submit" style="all:unset;"><i class="gg-trash-empty"></i></button><span style="font-size: 14px;"><strong>@e.CreatedAt.ToShortDateString()</strong>:</span> @e.Content</li>
                    
            </form>
            <form action="/Blogs/@Model.Topic/Comment/@e.Id/Edit">
                    <li><button type="submit">edit</button></li>
            </form>
        }
    </ul>

    @if(ViewBag.CommentObj != null)
            {
                <form action="/Blogs/@Model.Topic/Comment/@comment.Id/Edit" method="post">
                    <textarea rows="4" cols="50" value="@comment.Content" name="Content" class="comment-input form-label mt-4"></textarea>
                    <input hidden value="@Model.Id" name="BlogPostId" />

                    <br />

                    <button type="submit" class="submit-comment">Confirm Changes</button>
                    <p class="text-danger">All comments are anonymous.</p>
                </form>
            }
}*@
    </div>
<script src="/js/script.js"></script>
</div>