<link rel="stylesheet" href="/css/BlogPost.css" />

@model BlogPost
@{
    string test = "https://google.com";
    string google = "google";
}

<div class="article">
    <h1 style="text-align: center; margin-bottom: 50px; margin-top: 50px;">@Model.Topic</h1>

    <div class="article-header">
        <h4><strong>Braden Smith</strong></h4>
        <h6><strong>@Model.CreatedAt.ToShortDateString()</strong></h6>
    </div>
    
<div class="all-article-sections">
    <div class="article-section">
        <h3>@Model.SecOneTitle</h3>
        <p>@Model.SecOneContent</p>
    </div>
    <div class="article-section">
        <h3>@Model.SecTwoTitle</h3>
        <p>@Model.SecTwoContent</p>
    </div>

    @if (Model.SecThreeTitle != null && Model.SecThreeContent != null)
    {
    <div class="article-section">
        <h3>@Model.SecThreeTitle</h3>
        <p>@Model.SecThreeContent</p>
    </div>
    }

    @if (Model.SecFourTitle != null && Model.SecFourContent != null)
    {
    <div class="article-section">
        <h3>@Model.SecFourTitle</h3>
        <p>@Model.SecFourContent</p>
    </div>
    }

    @if (Model.SecFiveTitle != null && Model.SecFiveContent != null)
    {
    <div class="article-section">
        <h3>@Model.SecFiveTitle</h3>
        <p>@Model.SecFiveContent</p>
    </div>
    }

        <button id="showCommentButton" class="btn-outline-success">Add a Comment</button>
<div id="commentBox" style="display: none;">

    <form action="/Blogs/@Model.Topic/Comment/New" method="post">
                <textarea id="commentText" rows="4" cols="50" placeholder="Start typing..." name="Content" class="comment-input form-label mt-4"></textarea>
        <input hidden value="@Model.Id" name="BlogPostId" />

        <br />
        <button id="addCommentButton" type="submit" class="submit-comment">Add Comment</button>
    </form> 
</div>
    </div>
    <div class="article-comments">


@if (Model.Comments != null)
{
    <ul class="comments">
        @foreach (var e in Model.Comments)
        {
            <li><span style="font-size: 14px;"><strong>@e.CreatedAt.ToShortDateString()</strong>:</span> @e.Content</li>
        }
    </ul>
}
    </div>
<script src="script.js"></script>
</div>